body {
  -webkit-text-size-adjust:none;
  font-family:sans-serif;
  max-width: 640px;
  margin: 0 auto;
  border: 1px solid gray;
}
nav{
  background-color:gray;
  overflow-y: hidden;
  overflow-x:scroll;
  word-break: keep-all;
  -webkit-overflow-scrolling: touch;
  height:44px;
}

nav::-webkit-scrollbar, nav ul::-webkit-scrollbar { 
  width: 0 !important 
}

nav ul{
  width:1020px;
  overflow-y:hidden;
}

nav ul li{
  float:left;
}
nav ul li a{
  padding: 10px 5px;
  border-right: 1px solid white;
  display:block;
  font-size:1.2em;
  text-decoration: none;
}
ul,li{
  list-style: none;
}
nav:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.nav-wrapper{
  position:relative;
}

.fader{
  width:40px;
  height:44px;
  position:absolute;
  top:0; right:0;
  /*background-image: linear-gradient(to bottom, red, blue );*/
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.0), rgba(0,0,0,0.8));  
  /*background-color: rgba(0,0,0,0.5);*/
}